<div class="welcome">
  <div class="welcome-card">
    <%= image_tag 'logocombo.svg', alt: 'Terrastories' %>
    <% if user_signed_in? %>
      <h1>Matawai konde</h1>
    <% else %>
      <h1>Matawai konde</h1>
    <% end %>

    <%= link_to home_map_path do %>
      <button>Ko dendu</button>
    <% end %>

    <div class="welcome-card-user">
      <% if user_signed_in? %>
        <% if current_user.editor? %>
          <%= link_to "Admin pagina", admin_root_path, :class => 'navbar-link' %> | 
        <% end %>
        <%= link_to "Sooto", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Skiif i ne", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
</div>
